<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">

  <head>
    <title>Blissfest</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rhode Island's Indie Music Festival" />
    <meta property="og:title" content="Welcome to Blissfest" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.blissfestri.com/" />
    <meta property="og:image" content="https://www.blissfestri.com/assets/images/blissfest-icon-og.png">
    <meta name="twitter:site" content="@analogstudiosri"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="icon" href="/favicon.ico"/>

    <link rel="stylesheet" href="../styles/main.css" data-gwd-opt="inline"/>
    <script type="module" src="../components/header/header.js" data-gwd-opt="static"></script>
  </head>

  <body>
    <bf-header></bf-header>

    <main class="p-4">
      <page-outlet></page-outlet>
    </main>
  </body>

</html>