@import './theme.css';

body {
  background-color: var(--color-white);
  margin: 0 auto;
  font-family: var(font-primary);
}

h1 {
  text-align: center;
  text-decoration: underline;
}

h2 {
  text-align: center;
}

form {
  width: 40%;
  margin: 0 auto;
}