@import url('./theme.css');

body {
  background-color: var(--color-white);
  font-family: var(--font-primary);
}

.wavy-edges {
  border: 15px solid transparent;

  /* source | slice | width | outset | repeat */
  border-image: url('/assets/images/screen-form-edge.webp') 30 / 20px / 9px stretch;
}
