@import './theme.css';

body {
  background-color: var(--color-white);
  font-family: var(--font-primary);
}

#signup_form {
  max-width: 280px;
  border: 15px solid transparent;
  border-image-source: url('/assets/images/screen_form_edge.png');
  border-image-repeat: stretch;
  border-image-slice: 30;
  border-image-width: 20px;
  border-image-outset: 9px;
}
