@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat-regular.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Citrus Gothic';
  src: url('/assets/fonts/citrus-gothic-rough-regular.woff2') format('woff2');
  font-display: swap;
}

:root,
:host {
  --color-primary: #026769;
  --color-secondary: #60eda8;
  --color-accent: #db0000;
  --color-tertiary: #fcc;
  --color-white: #efefef;
  --color-black: #020202;
  --color-gray: #72674c;
  --font-primary: 'Montserrat';
  --font-secondary: 'Citrus Gothic';
}
